/* Estilos para o contêiner da foto */
#foto-visitante-container {
    margin-top: 10px; /* Espaçamento superior */
}

/* Estilos para a foto */
#foto-visitante {
    max-width: 200px; /* Largura máxima da foto */
    max-height: 200px; /* Altura máxima da foto */
    border: 1px solid #ccc; /* Borda da foto */
    border-radius: 5px; /* Cantos arredondados */
}
