/* Estilos para o contêiner da foto */
#foto-visitante-container {
    margin-top: 10px; /* Ajuste conforme desejado */
}

/* Estilos para a foto */
#foto-visitante {
    max-width: 200px; /* Defina a largura máxima da foto */
    max-height: 200px; /* Defina a altura máxima da foto */
    border: 1px solid #ccc; /* Adicione uma borda à foto */
    border-radius: 5px; /* Adicione um leve arredondamento aos cantos da foto */
}
